:root {
    color: white;
    font-family: "Poppins";
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    padding-top: 30;
    margin: 0;
    height: 100vh;
    z-index: -999; 
    /* position: absolute; */

    /* background-color: black; */
    background-image: url(images/stars.png);
    background-repeat: repeat-x, repeat-y;  
    /* background-image: radial-gradient(circle, white 30%, black 40%); */
}

h1 {
    position: absolute;
    top: 1em;
    left: 2em;
    font-family: inherit;
    font-size: 16em;
    color: white;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid white; 
    padding: .2em; 
} 

ul {
    z-index: 1; 
    /* position: fixed;  */
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
} 

#navbar {
    animation-name: navbarFunct;
    animation-duration: 5s;
    animation-timing-function: ease;
}
#globeDiv {
    animation-name: navbarFunct;
    animation-duration: 5s;
    animation-timing-function: ease;
}

.title {
    animation-name: titleFunct;
    animation-duration: 5s;
    animation-timing-function: ease;
}

@keyframes navbarFunct {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes titleFunct {
    0% {
        opacity: 0;
        transform: translateX(+100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.linkWrap {
    animation-name: lbarFunct;
    animation-duration: 5s;
    animation-timing-function: ease;
}

@keyframes lbarFunct {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        
    }
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 40px;
    margin: 20px 20px;
    margin-bottom: 0px;
    font-family: inherit;
    text-decoration: none;
    /* border: 1px solid; */
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

li a:hover {
    /* background-color: rgb(241, 227, 227);  */
    /* text-decoration: underline; */
    color: white;
    font-weight: bold;

    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    border-radius: 10px;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
} 


#top {
    position: absolute; 
    z-index: 9999;
    top: 1em; 
    left: 2em; 
    font-family: inherit;
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    text-align: center;
    border: 5px solid white;
    padding: .2em;
}   



.titleanimate1 {
    font-weight: 200;
    font-size: 3.2em;
}

.letters {
    color: white;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size:  36px;
    font-family: inherit;
}

.letters::after {
    content: "|";
    animation: blink 1s infinite;
} 

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
} 


#navbar {
    margin: auto;
    z-index: 10;
}




#rect {
    height: 10px;
    width: 500px;
    background-color: white;
    /* margin-left: 200px; */
    /* margin: auto; */
}
#log {
    margin: 10px;
    padding: 15px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 40px;
    text-shadow: 1px 1px 2px #427388; 
    border: 2px;
    
    animation: rotateLog;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes rotateLog {
    100% {
        transform: rotate(360deg);
    }
}


body::-webkit-scrollbar {
    width: 0;
  }
   