:root {
    color: white;
    font-family: "Poppins";
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    padding-top: 30;
    margin: 0;
    height: 100vh;
    z-index: -999;
    position: absolute;
    background-image: url(images/stars.png);
    background-repeat: repeat-x, repeat-y;
}

h1 {
    position: absolute;
    top: 1em;
    left: 2em;
    font-family: inherit;
    font-size: 16em;
    color: white;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid white; 
    padding: .2em; 
} 

ul {
    z-index: 1; 
    position: fixed; 
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */

} 

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    font-family: inherit;
    text-decoration: none;
}

li a:hover {
    /* background-color: rgb(241, 227, 227);  */
    text-decoration: underline;
    color: white;
    font-weight: bold;
} 


#top {
    position: absolute; 
    z-index: 9999;
    top: 1em; 
    left: 2em; 
    font-family: inherit;
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    text-align: center;
    border: 5px solid white;
    padding: .2em;
}   



.titleanimate1 {
    font-weight: 200;
    font-size: 3.2em;
}

.letters {
    color: white;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size:  36px;
    font-family: inherit;
}

.letters::after {
    content: "|";
    animation: blink 1s infinite;
} 

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
} 

